<div class="container">
    <div class="header">
        <h1>Willkommen bei Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hallo {{first_name}},</p>
        <p>Vielen Dank, dass Sie ein Konto bei uns auf <strong>{{website_name}}</strong> erstellt haben. Wir freuen uns, Sie an Bord zu haben, und Ihr Konto wurde erfolgreich erstellt.</p>
        <p>Um Ihr Konto zu aktivieren und unsere Dienste zu nutzen, verwenden Sie bitte den unten stehenden Aktivierungscode:</p>
        <p><strong>Aktivierungscode: {{activation_code}}</strong></p>
        <p>Dieser Code ist 30 Minuten gültig. Bitte schließen Sie die Aktivierung so bald wie möglich ab, um einen unterbrechungsfreien Zugang zu unseren Diensten zu gewährleisten.</p>
        <p>Wenn Sie dieses Konto nicht erstellt haben, können Sie diese E-Mail sicher ignorieren, es sind keine weiteren Maßnahmen erforderlich.</p>
        <p>Vielen Dank, dass Sie sich für uns entschieden haben. Wir freuen uns darauf, Ihnen zu dienen!</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Alle Rechte vorbehalten.</p>
    </div>
</div>
