<div class="container">
    <div class="header">
        <h1>Welcome to Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hi {{first_name}},</p>
        <p>Thank you for creating an account with us at <strong>{{website_name}}</strong>. We are delighted to have you on board, and your account has been successfully created.</p>
        <p>To activate your account and begin using our services, please use the activation code provided below:</p>
        <p><strong>Activation Code: {{activation_code}}</strong></p>
        <p>This code is valid for 30 minutes. Please complete your activation as soon as possible to ensure uninterrupted access to our services.</p>
        <p>If you did not sign up for this account, you can safely ignore this email, and no further action will be required.</p>
        <p>Thank you for choosing us, and we look forward to serving you!</p>
    </div>


    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. All rights reserved.</p>
    </div>
</div>