<div class="container">
    <div class="header">
        <h1>Bienvenido a Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hola {{first_name}},</p>
        <p>Gracias por crear una cuenta con nosotros en <strong>{{website_name}}</strong>. Estamos encantados de tenerte a bordo, y tu cuenta ha sido creada con éxito.</p>
        <p>Para activar tu cuenta y comenzar a usar nuestros servicios, por favor utiliza el código de activación proporcionado a continuación:</p>
        <p><strong>Código de activación: {{activation_code}}</strong></p>
        <p>Este código es válido por 30 minutos. Por favor, completa la activación lo antes posible para asegurar un acceso ininterrumpido a nuestros servicios.</p>
        <p>Si no te inscribiste para esta cuenta, puedes ignorar este correo de forma segura, no se requerirá ninguna acción adicional.</p>
        <p>¡Gracias por elegirnos, y esperamos poder servirte!</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Todos los derechos reservados.</p>
    </div>
</div>
