<div class="container">
    <div class="header">
        <h1>Benvenuto a Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Ciao {{first_name}},</p>
        <p>Grazie per aver creato un account con noi su <strong>{{website_name}}</strong>. Siamo lieti di averti a bordo, e il tuo account è stato creato con successo.</p>
        <p>Per attivare il tuo account e iniziare a utilizzare i nostri servizi, utilizza il codice di attivazione fornito di seguito:</p>
        <p><strong>Codice di attivazione: {{activation_code}}</strong></p>
        <p>Questo codice è valido per 30 minuti. Ti preghiamo di completare l'attivazione il prima possibile per garantire un accesso ininterrotto ai nostri servizi.</p>
        <p>Se non hai richiesto questo account, puoi ignorare tranquillamente questa email, non sarà necessario alcun ulteriore intervento.</p>
        <p>Grazie per averci scelto, non vediamo l'ora di servirti!</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Tutti i diritti riservati.</p>
    </div>
</div>
