<div class="container">
    <div class="header">
        <h1>Bem-vindo ao Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Olá {{first_name}},</p>
        <p>Obrigado por criar uma conta conosco em <strong>{{website_name}}</strong>. Estamos muito felizes em tê-lo conosco, e sua conta foi criada com sucesso.</p>
        <p>Para ativar sua conta e começar a usar nossos serviços, utilize o código de ativação fornecido abaixo:</p>
        <p><strong>Código de ativação: {{activation_code}}</strong></p>
        <p>Este código é válido por 30 minutos. Por favor, complete a ativação o mais rápido possível para garantir acesso ininterrupto aos nossos serviços.</p>
        <p>Se você não se inscreveu para esta conta, pode ignorar este e-mail com segurança, nenhuma ação adicional será necessária.</p>
        <p>Obrigado por nos escolher, e estamos ansiosos para servi-lo!</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Todos os direitos reservados.</p>
    </div>
</div>
