<div class="container">
    <div class="header">
        <h1>Willkommen bei Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hallo {{full_name}},</p>
        <p>Hier ist Ihr Angebot <strong>{{offer_title}}</strong> mit dem Code <strong>{{offer_code}}</strong>.</p>
        <p>Dieses Angebot ist gültig vom <strong>{{offer_start_date}}</strong> bis zum <strong>{{offer_end_date}}</strong>, nur im folgenden Hotel:</p>
        <p><strong>Hotelname:</strong> {{hotel_name}}<br><strong>Adresse :</strong> {{hotel_address}}</p>
        <p>Vielen Dank, dass Sie sich für Book EV Hotel entschieden haben.</p>
        <p>Falls Sie diesen Code nicht angefordert haben, können Sie diese E-Mail ohne weitere Maßnahmen ignorieren.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Alle Rechte vorbehalten.</p>
    </div>
</div>
