<div class="container">
    <div class="header">
        <h1>Welcome to Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hello {{full_name}},</p>
        <p>Here is your offer <strong>{{offer_title}}</strong> with the code <strong>{{offer_code}}</strong>.</p>
        <p>This offer is valid from <strong>{{offer_start_date}}</strong> to <strong>{{offer_end_date}}</strong>, only at the following hotel:</p>
        <p><strong>Hotel name:</strong> {{hotel_name}}<br><strong>Address :</strong> {{hotel_address}}</p>
        <p>Thank you for choosing Book EV Hotel.</p>
        <p>If you did not request this code, you can ignore this email without further action required.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. All rights reserved.</p>
    </div>
</div>
