<div class="container">
    <div class="header">
        <h1>Bienvenido a Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Hola {{full_name}},</p>
        <p>Aquí está tu oferta <strong>{{offer_title}}</strong> con el código <strong>{{offer_code}}</strong>.</p>
        <p>Esta oferta es válida desde el <strong>{{offer_start_date}}</strong> hasta el <strong>{{offer_end_date}}</strong>, únicamente en el siguiente hotel:</p>
        <p><strong>Nombre del hotel:</strong> {{hotel_name}}<br><strong>Dirección:</strong> {{hotel_address}}</p>
        <p>Gracias por elegir Book EV Hotel.</p>
        <p>Si no solicitaste este código, puedes ignorar este correo electrónico sin ninguna otra acción requerida.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Todos los derechos reservados.</p>
    </div>
</div>
