<div class="container">
    <div class="header">
        <h1>Benvenuto a Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Ciao {{full_name}},</p>
        <p>Ecco la tua offerta <strong>{{offer_title}}</strong> con il codice <strong>{{offer_code}}</strong>.</p>
        <p>Questa offerta è valida dal <strong>{{offer_start_date}}</strong> al <strong>{{offer_end_date}}</strong>, solo presso il seguente hotel:</p>
        <p><strong>Nome dell'hotel:</strong> {{hotel_name}}<br><strong>Indirizzo:</strong> {{hotel_address}}</p>
        <p>Grazie per aver scelto Book EV Hotel.</p>
        <p>Se non hai richiesto questo codice, puoi ignorare questa e-mail senza ulteriori azioni.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Tutti i diritti riservati.</p>
    </div>
</div>
