<div class="container">
    <div class="header">
        <h1>Bem-vindo ao Book <span style="color: #72BB53">EV</span> Hotel</h1>
    </div>

    <div class="content">
        <p>Olá {{full_name}},</p>
        <p>Aqui está sua oferta <strong>{{offer_title}}</strong> com o código <strong>{{offer_code}}</strong>.</p>
        <p>Esta oferta é válida de <strong>{{offer_start_date}}</strong> a <strong>{{offer_end_date}}</strong>, somente no seguinte hotel:</p>
        <p><strong>Nome do hotel:</strong> {{hotel_name}}<br><strong>Endereço :</strong>  {{hotel_address}}</p>
        <p>Obrigado por escolher o Book EV Hotel.</p>
        <p>Se você não solicitou este código, pode ignorar este e-mail sem nenhuma outra ação necessária.</p>
    </div>

    <div class="footer">
        <p>&copy; {{year}} Book EV Hotel. Todos os direitos reservados.</p>
    </div>
</div>
